{% extends 'home_page/base.html' %}
{% load static %}
{% block content %}
    <div class="mx-4 py-2">
        <picture>
            <source media="(max-width: 1000px)" srcset="{% static 'books_image/mobile-shop.png' %}">
            <img src="{% static 'books_image/shop.png' %}">
        </picture>
    </div>
    <div class="container ">
        <div class="row justify-content-md-center py-4">
            <h1 class="name-article">New arrivals</h1>
        </div>
        <div class="row justify-content-md-center">
            {% for book in new_book %}
                <div class="col col-3">
                    <div class="product-item">
                        <div>
                            {% if book.discount != 0 %}
                                <h1 class="sale">{% widthratio book.discount 1 100 %}%</h1>
                            {% endif %}
                            <h1 class="book-rating">{{ book.total_rating }}</h1>
                            <a href="{% url 'select_books' id_book=book.id %}"><img class="win-image"
                                                                                    src="{{ book.image.url }}"
                                                                                    alt=""></a>
                        </div>
                        <div class="mx-4 my-2">
                            <h1 class="book-name">{{ book.name }}</h1>
                        </div>
                        <div>
                            {% for author in book.author.all %}
                                <div class="mx-4 my-2">
                                    <h1 class="author-name">{{ author }}</h1>
                                </div>
                            {% endfor %}
                        </div>
                        {% if book.discount != 0 %}
                            <div>
                                <h1 class="book-price-line">{{ book.price }}$</h1>
                                <h1 class="book-new-price">{{ book.total_price }}$</h1>
                            </div>
                        {% else %}
                            <div>
                                <h1 class="book-price">{{ book.price }}$</h1>
                            </div>
                        {% endif %}
                        <div class="row justify-content-md-center">
                            <button id="add-book" class="btn btn-primary my-2" type="submit"
                                    data-book="{{ book }}">Add
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row justify-content-md-center py-4">
            <h1 class="name-article">The most popular books among subscribers</h1>
        </div>
        <div class="row justify-content-md-center">
            {% for book in pop_book %}
                <div class="col col-3">
                    <div class="product-item">
                        <div>
                            {% if book.discount != 0 %}
                                <h1 class="sale">{% widthratio book.discount 1 100 %}%</h1>
                            {% endif %}
                            <h1 class="book-rating">{{ book.total_rating }}</h1>
                            <a href="{% url 'select_books' id_book=book.id %}"><img class="win-image"
                                                                                    src="{{ book.image.url }}"
                                                                                    alt=""></a>
                        </div>
                        <div class="mx-4 my-2">
                            <h1 class="book-name">{{ book.name }}</h1>
                        </div>
                        <div>
                            {% for author in book.author.all %}
                                <div class="mx-4 my-2">
                                    <h1 class="author-name">{{ author }}</h1>
                                </div>
                            {% endfor %}
                        </div>
                        {% if book.discount != 0 %}
                            <div>
                                <h1 class="book-price-line">{{ book.price }}$</h1>
                                <h1 class="book-new-price">{{ book.total_price }}$</h1>
                            </div>
                        {% else %}
                            <div>
                                <h1 class="book-price">{{ book.price }}$</h1>
                            </div>
                        {% endif %}
                        <div class="row justify-content-md-center">
                            <button id="add-book" class="btn btn-primary my-2" type="submit" data-book="{{ book }}">Add
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
