.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



@media (min-width: 800px) {

    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.name-article {
    font-style: italic;
    color: wheat;
}

.product-item {
    height: 400px;
    background: wheat;
    position: relative;
}

.win-image {
    position: relative;
    margin-left: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 120px;
    height: 190px;
}

.book-name {
    text-align: center;
    font-style: italic;
    font-size: large;
}

.author-name {
    text-align: center;
    font-size: medium;
}

.book-price {
    text-align: center;
    font-style: initial;
    font-size: smaller;
}

.sale {
    position: absolute;
    color: red;
    text-align: left;
    font-size: larger;
    padding: 4px;
}

.triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 80px solid red;
    border-right: 80px solid transparent;
}

.book-price-line {
    text-decoration: line-through;
    float: left;
    margin-left: 35px;
    width: 50%;
    font-style: initial;
    font-size: smaller;
}

.book-new-price {
    color: red;
    margin-right: 40px;
    text-align: right;
    font-style: initial;
    font-size: medium;
}

.book-rating {
    margin-left: 80%;
    color: brown;
    position: absolute;
    font-size: larger;
    padding: 4px;
}

h5 {
    width: 1450px;
    height: 600px;
    background: url("https://images.pexels.com/photos/590493/pexels-photo-590493.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}