{% extends 'home_page/base.html' %}
{% load static %}
{% block content %}
    <div class="container ">
        <div class="row justify-content-md-center py-4">
            <h1 class="name-article">All books</h1>
        </div>
        <div class="row justify-content-md-center">
            {% for book in books %}
                {% if book != '/' %}
                    <div class="col col-3">
                        <div class="product-item">
                            <div>
                                {% if book.discount != 0 %}
                                    <h1 class="sale">{% widthratio book.discount 1 100 %}%</h1>
                                {% endif %}
                                <h1 class="book-rating">{{ book.total_rating }}</h1>
                                <a href="{% url 'select_books' id_book=book.id %}"><img class="win-image"
                                                                                        src="{{ book.image.url }}"
                                                                                        alt=""></a>
                            </div>
                            <div class="mx-4 my-2">
                                <p class="book-name">{{ book.name }}</p>
                            </div>
                            <div>
                                {% for author in book.author.all %}
                                    <div class="mx-4 my-2">
                                        <h1 class="author-name">{{ author }}</h1>
                                    </div>
                                {% endfor %}
                            </div>
                            {% if book.discount != 0 %}
                                <div>
                                    <h1 class="book-price-line">{{ book.price }}$</h1>
                                    <h1 class="book-new-price">{{ book.total_price }}$</h1>
                                </div>
                            {% else %}
                                <div>
                                    <h1 class="book-price">{{ book.price }}$</h1>
                                </div>
                            {% endif %}
                            <div class="row justify-content-md-center">
                                <button id="add-book" class="btn btn-primary my-2" type="submit"
                                        data-book="{{ book }}">Add
                                </button>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <hr width="100%" size="5" color="wheat">
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}